<launch>

  <include file="/opt/ros/kinetic/share/turtlebot_bringup/launch/minimal.launch"/>

  <node name="sensor_state_convert_node" pkg="turtlebot_sensor" type="sensor_state_convert_node" output="screen">
  </node>


  <node name="kalmanfilter_node" pkg="turtlebot_sensor" type="kalmanfilter_node" output="screen">
  </node>

  
  <node name="capture_key_node" pkg="turtlebot_sensor" type="capture_key_node" output="screen">
  </node>

  <node name="turtlebot_commande_node" pkg="turtlebot_sensor" type="turtlebot_commande_node" output="screen">
  </node>

</launch>
