<launch>
  <include file="/opt/ros/kinetic/share/turtlebot_bringup/launch/minimal.launch"/>

  <node name="conversion_capteur_node" pkg="carrelage" type="conversion_capteur_node" output="screen">
  </node>

  <node name="carrelage_node" pkg="carrelage" type="carrelage_node" output="screen">
  </node>

  <node name="commande_node" pkg="carrelage" type="commande_node" output="screen">
  </node>

</launch>
